* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "geo";
    -webkit-user-select: none;
    user-select: none;
}

.mute_button {
   position: absolute;
   height: 60px;
   cursor: pointer;
   right: 20px;
   top: 20px;
}

header {
    text-align: center;
    padding: 10px;
    font-size: 2em;
    background-color:   hsl(184, 33%, 30%) ;
    height: 20vh;
    color: #f5f5f5;
}

.grid_container {
    background-color: #75b5ba;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px 0px;
}

.grid {
    background-color:   whitesmoke;
    border: 15px solid hsl(184, 33%, 30%) ;
    display: grid;
    border-radius: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
}

.snake {
    background-color: #526e44;
    border-radius: 5px;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.apple {
    background-image: url(./images/apple.png);
    background-size: contain;
    background-position: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-bottom: 3px;
}

.control_button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 5px solid black;
    font-size: 20px;
    font-weight: bolder;
    background-color: whitesmoke;
    cursor: pointer;
    color: black;
}

.flash {
    background-color: hsl(0, 0%, 60%);
    transform: scale(105%);
}

@media (max-width: 1440px) {
    .cell {
        width: 15px;
        height: 15px;
    }

    .grid {
        border: 10px solid hsl(184, 33%, 30%) ;
    }

    header {
        font-size: 1rem;
    }

    .control_button {
        width: 40px;
        height: 40px;
        border: 2px solid black;
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .cell {
        width: 9px;
        height: 9px;
    }
    .grid {
        border: 5px solid hsl(184, 33%, 30%) ;
    }
    
}